<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">


    <style type="text/css">
        @font-face {
            font-family: 'Raleway-Bold';
            src: url('/fonts/Raleway-Bold.ttf') format('truetype');
        }


        .head {
            text-align: center;
            margin: 0;
            margin-bottom: 1rem;
            padding: 0;
        }

        .head p {
            margin: 0;
            padding: 0;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            font-size: .8rem;
        }

        th,
        td {
            border: 1px solid black;
            Min-width: 60px;
            text-align: center;
            padding: 2px;
        }

        .summary th {
            border: 1px solid black;
            Min-width: 60px;
            text-align: right;
            padding: 2px;
        }
    </style>
   
</head>

<body>

    <div class="head">
        <img src="{{ asset('black-uu-logo.webp') }}" alt="UTTARA UNIVERSITY" style="max-width: 10rem;">
        <!-- <p style="font-size: 2rem;">UTTARA UNIVERSITY</p> -->
        <p> <span style="font-size: 1.5rem; ">ATTENDANCE REPORT</span><br><span class="font-size: .8 rem;">(DATE & DEPARTMENT)</span> </p>
    </div>
    <div style="margin-bottom: 1rem;">
        <table>
            <tr>
                <th>Department</th>
                <td colspan="2">Cse </td>

                <th>Time Period</th>
                <td colspan="2"></td>
                <th>Duration</th>
                <td></td>

                <th>Query Date</th>
                <td>{{ $now }}</td>

            </tr>
           
        </table>
    </div>

    <div style="margin-bottom: .6rem;">
        <table class="">
            <thead>
                <th>Date</th>
                <th>Weekday</th>
                <th>Emp Name</th>
                <th>Emp Code</th>
                <th>Schedule In Time</th>
                <th>Check In</th>
                <th>Delay Time</th>
                <th>Status</th>
                <th>Schedule Out Time</th>
                <th>Check Out</th>
                <th>Early Out</th>
                <th>Working Hours</th>
            </thead>
            <tbody>
                



                
                    <tr>
                        <td></td>
                        <td>
                        </td>
                        <td></td>
                        <td></td>

                        <td>
                            
                        </td>
                        <td>Regular</td>
                        <td>05:00 PM</td>
                        <td>
                            
                        </td>
                        <td>

                           

                        </td>
                        <td>
                            

                        </td>
                    </tr>


            </tbody>
        </table>
    </div>

    <div><span
            style="font-size: .8rem; text-decoration: underline; font-weight: bold; margin-bottom: .3rem;">Summarized:
        </span></div>
    <div style="margin-top: .4rem;">



        <table class="summary">
            <tr>
                <th>Total</th>
                <td>
                    
                <th>Manual Entries</th>
                <td>0 day</td>

                <th>Offical Hours</th>

                <td>
                    Hrs</td>
                <!-- query days * 8  -->

            </tr>
            <tr>
                <th>Delay (Days)</th>
                <td>

                </td>
                <th>Delay (Hrs)</th>
                <td>
                    
                </td>
                <th>Working Hours</th>
                <td>
                   


                </td>

            </tr>


            <tr>
                <th>Early Out (Days)</th>
                <td>
                <th>Early Out (Hrs)</th>
                <td>
                    
                </td>

                <th>Due Hours</th>
                <td>
                  Hrs
                </td>

            </tr>

            <tr>
                <th>Weekend</th>
                <td></td>
                <th>Holidays</th>
                <td></td>
                <th>Working Percentage</th>
                <td></td>

            </tr>
            <tr>
                <th>Leave</th>
                <td></td>
                <th>Absent</th>
                <td></td>
                <th>Remark</th>
                <td></td>
            </tr>
        </table>
        <div style="margin-top: .5rem; font-size: .8rem;">
            <span>NOTE: </span> <span>This is a computer-generated document. No signature is required.</span>
        </div>
    </div>

    <footer>
    </footer>

</body>

</html>
